@charset "utf-8";
/* CSS Document */

/*	div.column {
  	float: left;
  	padding: 1px;
	}

	div.left, div.right {
  	width: 20%;
	}

	div.middle {
  	width: 60%;
	}

/* Clear floats after the columns */
/*	div.row:after {
  	content: "";
  	display: table;
  	clear: both;
	}   

*/
	section {
    height: 63px;
    page-break-after: 0px;
    display: flex;                   /* defines flexbox */
    align-items: flex-end;           /* bottom of the box */
		
	
	}


            h1 {
                letter-spacing: 1px;
                line-height: 30px;
				font-family: Chivo, sans-serif;
    			font-weight: 700;
                margin-left: 5px;
            }

            h2 {
                line-height: 30px;
                letter-spacing: 1.8px;
                font-size: 2.5rem;
		font-family: Chivo, sans-serif;
    		font-weight: 500;
            }

            .special-decoration {
                display: inline-flex;
                position: relative;
                color: white;
                padding-left: 3px;
                margin-left: -7px;

                ::before {
                    content: '';
                    position: absolute;
                    background-color: #003366;
                    top: 0;
                    left: -10px;
                    height: 80%;
                    width: calc(100% + 3px);
                    z-index: -1;
                }
            }
* {
  box-sizing: border-box;
}

/* Style the search field */
 input[type=text] {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 17px;
    border: 1px solid grey;
    /*float: right;*/
    width: 350px;
    background: #f1f1f1;
}

/* Style the submit button */
.srch.button {
  float: right;
  width: 50px;
  padding: 10px;
  background: #ffd51d;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

button:hover {
  background: #e3c74d;
}

.linkbutton {
  float: left;
  width: 150px;
  padding: 1px;
  background: #fdde58;
  color: #003366;
  font-size: 17px;
  border: 1px solid grey;
  /*border-left: none;  Prevent double borders */
  cursor: pointer;
}
/* Clear floats */
::after {
  content: "";
  clear: both;
  display: table;
	indent-text: 5em;
}

.input-group.md-form.form-sm.form-1 input{
border: 1px solid #bdbdbd;
border-top-right-radius: 0.25rem;
border-bottom-right-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input {
border: 1px solid #bdbdbd;
border-top-left-radius: 0.25rem;
border-bottom-left-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input.red-border {
border: 1px solid #ef9a9a;
}
.input-group.md-form.form-sm.form-2 input.lime-border {
border: 1px solid #cddc39;
}
.input-group.md-form.form-sm.form-2 input.amber-border {
border: 1px solid #ffca28;
}

.btn-primary {
	background-color: #054fa0;
}



/*tristate */


  
#container {
  display: block;
  margin: 80px auto 0;
  width: 320px;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}

p {
  color: #e2e5ea;
  text-align: center;
}

.card {
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
  width: 320px;
 
  header {
    background-color: #4b5769;
    color: #fff;
    letter-spacing: 1px;
    padding: 1.5rem;
    text-align: center;
    text-transform: uppercase;
  }
  
  .content {
    background-color: #f4f7fb;
    padding: 1.5rem 2.5rem;
    
    .row {
      border-bottom: solid 1px #e2e5ea;
      padding: 0.75rem 0;
      -webkit-user-select: none;
      -moz-user-select: -moz-none;
      user-select: none;
      
      &:last-child {
        border: none;
      }
    }
  }
}

.checkbox {
  background-color: #fff;
  border: solid 1px #d7d7d7;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  margin-right: 1rem;
  text-align: center;
  width: 32px;
  vertical-align: middle;
  
  svg {
    margin-top: 6px;
    stroke: #fff;
  }
}

.positive {
  background-color: #4aca65;
  border-color: #43b45b;
}

.negative {
  background-color: #dc4e4e;
  border-color: #c74545;
}

.label {
  font-weight: bold;
  vertical-align: middle;
}
